
### Iniciar sesión
POST {{host}}/auth/login
Content-Type: application/json

{
  "correoElectronico": "",
  "contrasena": ""
}

### Cambiar contraseña
POST {{host}}/auth/change-password
Content-Type: application/json
Authorization: Bearer {{auth}}

{
  "contrasena": "",
  "nuevaContrasena": "",
  "repetirContrasena": ""
}
